body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: #232323;
    font-family: "Times New Roman", "Noto Sans KR", serif;
    text-rendering: optimizeLegibility;
    -wekit-font-smoothing: antialiased;
   
   
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

/* ------------------------------------------------header */
  header {
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 100;
     
  }
  
  .top-bar {
    width: calc(100%/1.2);
    height: 90px;
    margin: 0 auto;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    letter-spacing: 3%;
  }


  header .nav_link_section {
    display: flex;
    width: 662px;
    justify-content: space-between;
    font-family:"Noto Sans KR";
    
}



header .booK_link_section ul {
    display: flex;
    align-items: center;
    gap:20px; 
}
  
  .reservation_bt {
    padding: 14px 16px;
    border: 1px solid #fff;
    color: #fff;
  }
  
  .reservation_bt:hover {
    background-color: #fff;
    color: #353535;
  }
  
  
  
header.hover {
  color:var(--inverse-color, #232323);
  background-color: #232323;
  height: 80px;
  }

/* -------------------------------------------------메인 페이지 */
.main_bg_section {
   z-index: -100;
}


.main_section .main_title_section{
  width: 82.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: absolute;
  top: 20vw;
  left: 8.333vw;
  z-index: 10;
}


.main_section .main_title_section .main_title {
   font-size: 3rem;
   line-height: 100%;
   letter-spacing: 4%;
   text-align: center;
   margin-left: -50px;
   
}

.main_section .main_title_section .sub_title {
    display: block;
    font-size: 1rem;
    line-height: 300%;
    font-weight: 100;
    
 }

 .main_section .serch_section {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0px;
    background-color: #FBFBFB;
  }
  
  .main_section .serch_section .bg_nav {
      display: flex;
      flex-basis: 20% ; 
  }
  
  
  .main_section .serch_section .serch_box {
      width: 100%;
      /* 1536px */
      font-family: "Noto Sans KR";
      font-weight: 300;
      display: flex;
      align-items: center;
      gap: 20px;
  }
  
  .main_section .serch_section .serch_box .serch_option1 {
     flex-basis: 10% ;
     padding-left:32px;
     position: relative;        
  }
  .main_section .serch_section .serch_box .serch_option1::after{
      content: "";
      background-color: #E3D2D2;
      height: 58px;
      width: 2px; 
      position: absolute;
      top:0;
      left: 182px;    
  }
  
  .main_section .serch_section .serch_box .t_text{
      color: #ADADAD;
      letter-spacing: 1.5%;
     
  }
  
  
  
  .main_section .serch_section .serch_box .option_text {
      font-size: 1.25vw;
      /* 24px */
      font-weight: 400;      
  }
  
  .main_section .serch_section .serch_box .serch_option2 {
      flex-basis: 40% ;
      padding-left: 32px;
      position: relative;
   }
  
   .main_section .serch_section .serch_box .serch_option2::after{
      content: "";
      background-color: #E3D2D2;
      height: 58px;
      width: 2px; 
      position: absolute;
      top:0;
      left: 610px;    
  }
  
   .main_section .serch_section .serch_box .serch_option3 {
      flex-basis: 10% ;
      text-align: center;
      position: relative;
   }
  
   .main_section .serch_section .serch_box .serch_option3::after{
      content: "";
      background-color: #E3D2D2;
      height: 58px;
      width: 2px; 
      position: absolute;
      top:0;
      left: 150px;    
  }
  
   .main_section .serch_section .serch_box .serch_option4 {
      height: 100px;
      flex-basis: 20% ;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #232323;
      color: #fff;
      
   }

   .main_section .serch_section .serch_box .clickCoun {
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
   }

   .main_section .serch_section .serch_box span {
    display: inline-block;
    font-size: 12px;    
   }

 /* ------------------------------------------------content */  
 .wapper {
    width: 75vw;
    /* 1440px */
    margin: 0 auto;
    overflow: hidden;
    word-break: break-all;
    line-height: 150%;
 }

  .con {
    padding-top: 9.8vw;
    /* 140px */
  
 }

 .wapper img{
    width: 100%;
 }

 .wapper .book_bt a {
    display: inline-block;
    padding: 8px 34px 6px 34px;
    text-align: center;
    background-color: #232323;
    color: #fff;
    letter-spacing: 6%;
    font-weight: 300; 
}

.wapper .book_bt a:hover {
  background-color: transparent;
  border: 1px solid #232323;
  color: #232323;
}

.wapper .title_section {
  width: 100%;
  
}

.wapper .title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 25px;

 }

 .bt_section {
    font-family:"Noto Sans KR";  
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
 }

 .wapper .desc {
    margin: 16px 0 32px 0;
    font-weight: 300;
}

.wapper .desc .desc_title {
    font-size: 1.5rem;
    padding-bottom: 24px;
 }

.wapper .desc span {
    display: flex;
    font-family:"Noto Sans KR";
    color: #565656;
   
 }

.promotion_section {
  /* padding-bottom: 14vw; */
  /* 200px */

}

.promotion_section .content {
    display: flex;
    gap:30px;
}



 .promotion_section .desc span:nth-child(2) {
    letter-spacing: 0.045em;
 }


 .dining_section{
  text-align: center;
  padding-bottom: 102px;
 }

.dining_section .content {
    display: flex;
    gap:30px;
}

.dining_section .title {
  padding-bottom: 56px;
}

.dining_section .title_section >.desc {
  width:80%;
  /* 702px */
  display: inline-block;
  padding: 40px 0 48px 0;
  margin: 0;
  word-break: break-all;
  text-align: center;
  font-size: 1.5rem;
  line-height: 160%;
}

.dining_section .content .item {
  width: 100%;
  position: relative;
}

.dining_section .content img {
  width: 96%;
}

.dining_section .content .item > .desc_title {
  position: absolute;
  top:90%;
  /* 416px */
  left: 4%;
  font-size: 1.25vw;
  font-weight: 600;
  color:#fff;
} 


  


.facilities_section {
  padding-bottom: 140px;
}

.facilities_section .title {
  padding-bottom: 56px;
}


.facilities_section .desc {
 width: 90%;
 word-break: break-all;
 text-align: center;
 padding: 40px 0 56px 0;
 margin: 0;
 font-size: 1.5rem;
 line-height: 160%;
}


 .facilities_section .swiper-box-1 {
    position:relative;
    --swiper-theme-color:#fff;
    --swiper-navigation-size: 1rem;
  }
  
  .facilities_section .swiper-box-1 .swiper {
    height: 100%;

   
  }

  .facilities_section .swiper-pagination {
    position: relative;
    top:-20px;
    left: 0;

  }
   

  .facilities_section > .content {
    position: relative;
  }


  .facilities_section .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .facilities_section .swiper-wrapper {
    box-sizing: border-box;
  }


  .swiper-button-next,
  .swiper-button-prev  {
    
    width:40px;
    height: 40px;
    background-size: cover;
    margin-top: 0;
    position: absolute;
    top:32%;
  }

.swiper-button-next {
  background: url(/img/swiper_next_bt.png) no-repeat;
  right: 160px;
  left: auto; 
    
  }

  .swiper-button-prev {
    background: url(/img/swiper_pre_bt.png) no-repeat;
    left: 160px;
    right: auto; 
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color,#232323);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color,#232323);
}



 /* ------------------------------------------------footer */  

footer {
    margin-top: 10.4vw;
    height: 100%;
    background-color: #232323;
}

footer .content {
    width: 75vw;   
    margin: 0 auto;
    color: #ADADAD;
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 0.875rem;
    padding:40px 0;

}


footer .footer_link_section {
  display: flex;
  gap: 18px;
  
}

footer .footer_mid .footer_info {
    padding: 4px 0 10px 0;
    border-bottom: 1px solid rgba(173, 173, 173, .5);
    line-height: 50%;
}

.f_bar {
    padding: 0 8px;
}


.footer_bot {
    height: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-all;
    line-height: 150%;
 
   
}

.footer_sns {
    display: flex;
    align-items: center;

}

.footer_sns img {
    width: 60%;
}


 