body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: #232323;
    font-family: "Times New Roman", "Noto Sans KR", serif;
    text-rendering: optimizeLegibility;
    -wekit-font-smoothing: antialiased;
   
   
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

/* ------------------------------------------------header */
  header {
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 100;
     
  }
  
  .top-bar {
    width: calc(100%/1.2);
    height: 90px;
    margin: 0 auto;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    letter-spacing: 3%;
    
  }


  header .nav_link_section {
    display: flex;
    width: 662px;
    justify-content: space-between;
    font-family:"Noto Sans KR";
    
}



header .booK_link_section ul {
    display: flex;
    align-items: center;
    gap:20px; 
}
  
  .reservation_bt {
    padding: 14px 16px;
    border: 1px solid #fff;
    color: #fff;
  }
  
  .reservation_bt:hover {
    background-color: #fff;
    color: #353535;
  }
  
  
  
header.hover {
  color:var(--inverse-color, #232323);
  background-color: #232323;
  height: 80px;
  }

/* -------------------------------------------------메인 페이지 */
 .main_section {
  position: relative;
 }

.main_bg_section {
   z-index: -100;
}


.main_section .main_title_section{
  width: 82.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: absolute;
  top: 19vw;
  left: 8.333vw;
  z-index: 10;
}


.main_section .main_title_section .main_title {
   font-size: 4rem;
   line-height: 100%;
   letter-spacing: 4%;
   text-align: center;
   margin-left: -50px;
   
}

.main_section .main_title_section .sub_title {
    display: block;
    font-size: 1rem;
    line-height: 300%;
    font-weight: 100;
    
 }

/* -------------------------------------서치 박스 */
 .serch_section {
  height:100%;
  background-color:#F4F4F4;  
}

.serch_section .serch_desc {
  width:1440px;
  margin: 0 auto;
  padding:14px 0;
  display:flex;
  justify-content: space-around;
  align-items:center;
  font-family:"Noto Sans";
}


.serch_section .serch_desc .t_text {
  color:#ADADAD;
  font-weight: 600;
  padding-bottom:3px;
}

.serch_section .serch_desc .option_text {
  color:#565656;
  font-size:1.5rem;
  font-weight: 500;
  letter-spacing: 0.015em;
}

.serch_desc .serch_option3 {
  display:flex;
  gap:40px;
  text-align:center;
}

.serch_desc .serch_option3 .clickCount {
  display:flex;
  justify-content:center;
  align-items:center;
  gap:6px;
}

.serch_desc .serch_option3 .clickCount > span {
  display:inline-block;
  font-size:14px;
  color:#ADADAD;
}

.serch_desc .serch_option5 .secrch_bt{
  color:#fff;
  background-color:#232323; 
  padding:20px 72px;
}

.main_swiper_bt_section {
  width: calc(100%/1.2);
  position: absolute;
  bottom: 170px;
  left: 160px;
  z-index: 10;
 
}

.main_swiper_bt_section  {
  text-align: right;
  opacity: .8;
}





 


/* swiper .swiper-wrapper */
.main_bg_section{
  position: relative;
      width: 100%;
      height: calc(100vh - 100px);
  }


 /* ------------------------------------------------content */  
 .wapper {
    width: 75vw;
    /* 1440px */
    margin: 0 auto;
    overflow: hidden;
    word-break: break-all;
    line-height: 150%;
 }

  .con {
    padding-top: 9.8vw;
    /* 140px */
  
 }

 .wapper img{
    width: 100%;
 }

 .wapper .book_bt a {
    display: inline-block;
    padding: 8px 34px 6px 34px;
    text-align: center;
    background-color: #232323;
    color: #fff;
    letter-spacing: 6%;
    font-weight: 300; 
}

.wapper .book_bt a:hover {
  background-color: transparent;
  border: 1px solid #232323;
  color: #232323;
}

.wapper .title_section {
  width: 100%;
  
}

.wapper .title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 25px;

 }

 .bt_section {
    font-family:"Noto Sans KR";  
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
 }

 .wapper .desc {
    margin: 16px 0 32px 0;
    font-weight: 300;
}

.wapper .desc .desc_title {
    font-size: 1.5rem;
    padding-bottom: 24px;
 }

.wapper .desc span {
    display: flex;
    font-family:"Noto Sans KR";
    color: #565656;
   
 }

.promotion_section {
   padding-bottom: 7vw; 
  

}

.promotion_section .content {
    display: flex;
 
}



 .promotion_section .desc span:nth-child(2) {
    letter-spacing: 0.045em;
 }


 .dining_section{
  text-align: center;
  padding-bottom: 102px;
  
 }

.dining_section .content {
    display: flex;
   
}

.dining_section .title {
  padding-bottom: 56px;
}

.dining_section .title_section >.desc {
  width:80%;
  /* 702px */
  display: inline-block;
  padding: 40px 0 48px 0;
  margin: 0;
  word-break: break-all;
  text-align: center;
  font-size: 1.5rem;
  line-height: 160%;
}

.dining_section .content .item {
  width: 100%;
  position: relative;
}

.dining_section .content img {
  width: 96%;
}

.dining_section .content .item > .desc_title {
  position: absolute;
  top:90%;
  /* 416px */
  left: 4%;
  font-size: 1.5rem;
  font-weight: 600;
  color:#fff;
} 


.swiper-horizontal>.swiper-scrollbar {
  position: relative;
  top:-34px;
  left: 200px;
  border-radius: 0;
  z-index: 50;
  height: 3px;
  width: 50%;
  background-color:#fff;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: #232323;
  border-radius: 0;
  left: 0;
  top: 0;
}



.facilities_section {
  padding-bottom: 140px;
}

.facilities_section .title {
  padding-bottom: 56px;
}


.facilities_section .desc {
 width: 90%;
 word-break: break-all;
 text-align: center;
 padding: 40px 0 56px 0;
 margin: 0;
 font-size: 1.5rem;
 line-height: 160%;
}


 .facilities_section .swiper-box-1 {
    position:relative;
    --swiper-theme-color:#fff;
    --swiper-navigation-size: 1rem;
  }
  
  .facilities_section .swiper-box-1 .swiper {
    height: 100%;

   
  }

  .facilities_section .swiper-pagination {
    position: relative;
    top:-20px;
    left: 0;

  }
   

  .facilities_section > .content {
    position: relative;
  }


  .facilities_section .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .facilities_section .swiper-wrapper {
    box-sizing: border-box;
  }

  .facilities_swiper_bt
  .swiper-button-next,
  .swiper-button-prev  {
    
    width:40px;
    height: 40px;
    background-size: cover;
    margin-top: 0;
    position: absolute;
    top:32%;
  }

.facilities_swiper_bt .swiper-button-next {
  background: url(/img/swiper_next_bt.png) no-repeat;
  right: 160px;
  left: auto; 
    
  }
  
  .facilities_swiper_bt .swiper-button-prev {
    background: url(/img/swiper_pre_bt.png) no-repeat;
    left: 160px;
    right: auto; 
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color,#232323);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color,#232323);
}



 /* ------------------------------------------------footer */  

footer {
    margin-top: 10.4vw;
    height: 100%;
    background-color: #232323;
}

footer .content {
    width: 75vw;   
    margin: 0 auto;
    color: #ADADAD;
    font-family: "Noto Sans KR";
    font-weight: 300;
    font-size: 0.875rem;
    padding:40px 0;

}


footer .footer_link_section {
  display: flex;
  gap: 18px;
  
}

footer .footer_mid .footer_info {
    padding: 4px 0 10px 0;
    border-bottom: 1px solid rgba(173, 173, 173, .5);
    line-height: 50%;
}

.f_bar {
    padding: 0 8px;
}


.footer_bot {
    height: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-all;
    line-height: 150%;
 
   
}

.footer_sns {
    display: flex;
    align-items: center;

}

.footer_sns img {
    width: 60%;
}


 